<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header"
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Acceuil <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Listing trajets <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Statistiques <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Carte <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
      </li>
      <% unless current_user %>
      <li>
        <a href="/users/sign_in">Connexion <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
      </li>
      <% else %>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
        Logout
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
</nav>
<br>
